<h3>search for an artist&#133;</h3>

<%= form_tag search_records_path, remote: true, id: 'search_artists' do %>
  <%= submit_tag 'search', id: 'search' %>
  <div class="search-wrapper">
    <%= search_field_tag :artist, class: 'artist' %>
  </div>
<% end %>

<button class="clear">clear</button>

<section class="results"></section>

<h3 class="collection-header">collection</h3>
<section class="collection">

  <%= render 'index' %>

</section>
